name: CI

on:
  push:
    branches: [master]
  pull_request:
    branches: [master]

jobs:
  build:
    name: build on ${{matrix.os}} with ${{matrix.compiler}}
    runs-on: ${{matrix.os}}
    strategy:
      matrix:
        os: [ ubuntu-latest ]
        compiler: [ gcc, clang ]
    env:
      BUILD_TYPE: Release
      CC: ${{matrix.compiler}}
      CXX: ${{matrix.compiler}}

    steps:
      - uses: actions/checkout@v4
      - name: Update repositories
        run: sudo apt-get update
      - name: Build and install emawp
        run: git clone https://github.com/jakubfi/emawp && cd emawp && mkdir build && cd build && cmake .. && make && sudo make install && sudo ldconfig
      - name: Build and install emcrk
        run: git clone https://github.com/jakubfi/emcrk && cd emcrk && mkdir build && cd build && cmake .. && make && sudo make install && sudo ldconfig
      - name: Build and install emdas
        run: git clone https://github.com/jakubfi/emdas && cd emdas && mkdir build && cd build && cmake .. && make && sudo make install && sudo ldconfig
      - name: Build and install emas
        run: git clone https://github.com/jakubfi/emas && cd emas && mkdir build && cd build && cmake .. && make && sudo make install
      - name: Install dependencies
        run: sudo apt install libpulse0 libpulse-dev libasound2 libasound2-dev libncurses5 libncurses5-dev flex libfl-dev bison libbison-dev readline-common libreadline-dev libpulse-dev libasound2-dev qtbase5-dev qtmultimedia5-dev
      - name: Configure project
        run: cmake -B ${{github.workspace}}/build -DCMAKE_BUILD_TYPE=${{env.BUILD_TYPE}}
      - name: Build
        run: cmake --build ${{github.workspace}}/build --config ${{env.BUILD_TYPE}}
      - name: Install
        run: sudo cmake --install ${{github.workspace}}/build
      - name: Prepare test disk images
        working-directory: ${{github.workspace}}/tests
        run: cd images && make 
      - name: Run tests (speed max)
        working-directory: ${{github.workspace}}/tests
        run: ./runtests.py
      - name: Run tests (speed real)
        working-directory: ${{github.workspace}}/tests
        run: ./runtests.py -O cpu:speed_real=true
